.react-tabs {
  width: 90%;
  margin: 20px 0px 0px 30px;
}

react-tabs__tab-list {
  border-bottom: none;
}
.react-tabs__tab {
  border-radius: 13px 13px 0px 0px;
}

.react-tabs__tab-panel .react-tabs__tab-panel--selected {
  background-color: #dddddd;
}

.react-tabs__tab:hover {
  background-color: #dddddd;
  cursor: pointer;
  transition: all ease 0.3s 0s;
}
.react-tabs__tab-panel--selected {
  background-color: #dddddd;
}

.company-logo {
  animation: bottomToTop 0.5s;
}

.clients-banner {
  /* position:absolute;  */
  top:0px; 
  left:0px; 
  /* overflow:hidden;  */
  white-space: nowrap;
  /* animation: bannermove 10s linear infinite; */
}

.description {
  animation: rightToLeft 0.5s;
}

@keyframes rightToLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes bottomToTop {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes bannermove {
  0% {
      transform: translate(0, 0);
  }
  100% {
      transform: translate(-100%, 0);
  }
}